<div class="m-1 mb-5">
<div class="card mt-5" style="width: 14rem;">
  <img [src]="produto.imagem" class="card-img-top" alt="...">
  <div class="card-body">
    <a class="ldesc" [routerLink]="'/pagina/produto'"><h5 class="card-title">{{ produto.descricao}}</h5></a>
    <div [ngSwitch]="produto.classificacao">
      <span class="badge bg-danger" *ngSwitchCase="'hardware'">Harduare</span>
      <span class="badge bg-success" *ngSwitchCase="'software'">Software</span>
      <span class="badge bg-warning" *ngSwitchCase="'acessorios'">Acessório</span>
      <span class="badge bg-black" *ngSwitchDefault>Outros</span>
    </div>
    <ngb-rating class="star ldesc" [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly" [max]="5" style="width: 15px;"></ngb-rating>
    <small class="text-muted rate"> De: <span class="card-text" [ngClass]="{'text-muted riscado': produto.preco}">{{ produto.preco | currency: 'BRL' }}</span></small>
    <small class="text-muted"> por:</small>
    <p class="card-text" [ngClass]="{'price': produto.preco}">{{ desconto() | currency: 'BRL' }}</p>
  </div>
</div>
<button class="btn mt-1"  style="width: 14rem;" (click)="addProdutoCarrinho()">Adiconar no carrinho</button>
</div>
