.center {
  margin-left: 100px;
  margin-top: 50px;
}

.price {
  font-weight: bold;
  color: #21af14;
  font-size: 25px;
}

.desc{
  font-weight: bold;
  font-size: 20px;
}

.ldesc {
  text-decoration: none;
  color: black;
}

.star {
  font-size: 32px;
  text-decoration: none;
  color: rgb(247, 176, 22);
}



.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 1em;
  font-size: 30px;
  font-weight: 300;
  color: #FFD600;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}