<div class="center">
  <div class="card mb-3 center" style="max-width: 540px">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="product.imagem" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.descricao }}</h5>
          <p class="card-text">Avalie o produto </p>
          <ngb-rating [(rate)]="currentRate" [max]="5" class="star"></ngb-rating>
          <pre>Nota: <b>{{currentRate}}</b></pre>
          <p class="card-text">
            <small class="text-muted">código {{ product.id }}</small>
          </p>
          <p class="card-text" [ngClass]="{ price: product.preco }">
            {{ product.preco | currency: "BRL" }}
          </p>
          <p class="card-text" [ngClass]="{ desc: product.preco }">
            {{ product.desconto | percent }} OFF
          </p>
          <button class="bi-cart btn-outline-warning p-2">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>
