<Div class="container mt-5 daown"   >
    <div class="mb-3">
        <h3 text-align="center" position="absolute" display="block">
            Quem Somos...
            <i class="bi bi-house-door"></i>
        </h3>
        <br />
        <p>A TecnoWorld foi fundada em 2022 e desde vem demonstrando seriedade e compromisso com seus clientes.
            Como prova mais absoluta dessa afirmação deixamos nossa pesquisa de satisfação de clientes em aberto para
            comprovação desses resultados.
            A TecnoWorld fornece toda a linha de microcomputadores disponíveis no Mercado Mundial, comercializando assim
            as
            melhores marcas, produtos e garantias já oferecidas a qualquer usuário de informática.
            Nosso atendimento individualizado e profissionais altamente gabaritados são alguns dos diferenciais que a
            TecnoWorld
            Informática proporciona aos seus clientes.
        </p>
    </div>
</Div>